/* Основні стилі */

.aboutPage {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.aboutPage header {
  text-align: center;
  margin-bottom: 30px;
}

.aboutPage header h1 {
  font-size: 1.5em;
  color: orangered;
}

.video-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.video-container {
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio for responsive video */
  position: relative;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.what-is-bas {
  margin-bottom: 25px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px orangered;
}

.what-is-bas h2 {
  font-size: 1.25em;
  color: orangered;
}

.what-is-bas p {
  color: #B0BDD3;
}

.blocks-sections {
  display: flex;
  flex-wrap: wrap;
}

.about,
.team,
.values {
  flex: 1;
  margin-right: 20px;
}

.about h2,
.team h2,
.values h2 {
  font-size: 1.25em;
  color: orangered;
}

.about p,
.team p,
.values p {
  color: #B0BDD3;
}

.values ul {
  list-style: none;
  padding: 0;
}

.values li {
  margin-bottom: 10px;
  color: #B0BDD3;
}

@media only screen and (max-width: 768px) {
  .blocks-sections {
    flex-direction: column;
  }
}
