.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #21252B;
    color: white;
    padding: 20px;
    font-family: Arial, sans-serif;
    z-index: 1000;
    display: flex;
    justify-content: space-between; /* Распределение элементов по краям */
    align-items: center; /* Выравнивание по центру по вертикали */
}

.title {
    margin-left: 20px; /* Отступ слева для заголовка */
}

.nav-container {
    display: flex;
    justify-content: center; /* Центрирование внутреннего контейнера */
    flex-grow: 1; /* Занимает все доступное пространство по ширине */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.link {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.link:hover {
    color: orangered;
}

.dropdown-menu {
    display: block;
    position: absolute;
    background-color: #21252B;
    min-width: 120px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1;
    margin-top: 5px;
    font-size: 12px;
}

.dropdown-menu li {
    padding: 10px;
}

.dropdown-menu a {
    color: white;
    text-decoration: none;
}

.dropdown-menu a:hover {
    text-decoration: underline;
    color: orangered;
}

.dropdown-arrow {
    margin-left: 5px;
    font-size: 8px;
}
