.navbar {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 5.5em;
    background-color: #21252B;
    position: fixed;
    width: 100%;
    top: 0;
}

.nav-container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 100%;
}

.side-panel {
    position: fixed;
    top: 5.5em;
    right: 0;
    width: 200px;
    height: 100%;
    background-color: #21252B;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.side-panel ul {
    list-style: none;
    padding: 0;
}

.side-panel ul li {
    margin-bottom: 10px;
}

.side-panel ul li a {
    color: #fff;
    text-decoration: none;
}

.side-panel ul li a:hover {
    color: orangered;
}

.toggle-button {
    background-color: transparent;
    color: #B0BDD3;
    border: none;
    cursor: pointer;
    font-size: 2em;
    padding-right: 25px;
}

.toggle-button:hover {
    color: orangered;
}

.close-button {
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
}

.close-button:hover {
    color: orangered;
}

.title {
    color: #B0BDD3;
    font-size: 25px;
    margin: 0 auto;
    text-align: center;
    flex-grow: 1;
}