.navbar {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 5.5em;
    background-color: #21252B;
    position: fixed;
    width: 100%;
    top: 0;
}

.nav-container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 100%;
}

.side-panel {
    position: fixed;
    top: 5.5em;
    right: 0;
    width: 250px;
    height: max-content;
    background-color: #21252B;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.side-panel ul {
    list-style: none;
    padding: 0;
    margin-top: 50px;
}

.side-panel ul li {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}

.link {
    width: 100%;
    text-align: start;
    border: none;
    background-color: transparent;
    color: #B0BDD3;
    font-weight:500;
    font-size: 16px;
}

.side-panel li:hover {
    background-color: orangered;
    border-radius: 2.5px;
}

.toggle-button {
    background-color: transparent;
    color: #B0BDD3;
    border: none;
    cursor: pointer;
    font-size: 2em;
    padding-right: 25px;
}

.toggle-button:hover {
    color: orangered;
}

.close-button {
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    font-size: 20px;
}

.close-button:hover {
    color: orangered;
}

.title {
    color: #B0BDD3;
    font-size: 25px;
    margin: 0 auto;
    text-align: center;
    flex-grow: 1;
}

@media (max-width: 768px) {
    .side-panel {
        width: 100%;
        height: max-content;
        top: 0;
    }

    .side-panel ul {
        margin-top: 50px;
        padding: 0 25px;
    }

    .side-panel ul li {
        margin-bottom: 10px;
        padding: 10px;
        font-size: 16px;
    }

    .close-button {
        font-size: 25px;
    }
}